In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=05b524e90b6b28a53971536548e13d3ff91b9cfdd513a6bcf1e5442e69cbd813
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName("App").getOrCreate()
print(f"Spark session created {spark}")
spark.getActiveSession()

Spark session created <pyspark.sql.session.SparkSession object at 0x7a415f747070>

In [14]:
data = [(1,"Mike","2018","10",30000),
    (2,"John","2010","20",40000),
    (2,"John","2010","20",40000),
    (3,"Jack","2010","10",40000),
    (4,"Charlee","2005","60",35000),
    (5,"Guo","2010","40",38000)]
schema = ["empid","empname","doj", "deptid","salary"]

data1 = [(1,"Mike","2018","10",30000),
         (2,"John","2010","20",40000),
         (4,"Charlee","2005","60",35000),
         (5,"Guo","2010","40",38000)]
schema1 = ["empid","empname","doj", "deptid","salary"]
df = spark.createDataFrame(data, schema)
df1 = spark.createDataFrame(data1,schema1)
df.show()
df1.show()

+-----+-------+----+------+------+
|empid|empname| doj|deptid|salary|
+-----+-------+----+------+------+
|    1|   Mike|2018|    10| 30000|
|    2|   John|2010|    20| 40000|
|    2|   John|2010|    20| 40000|
|    3|   Jack|2010|    10| 40000|
|    4|Charlee|2005|    60| 35000|
|    5|    Guo|2010|    40| 38000|
+-----+-------+----+------+------+

+-----+-------+----+------+------+
|empid|empname| doj|deptid|salary|
+-----+-------+----+------+------+
|    1|   Mike|2018|    10| 30000|
|    2|   John|2010|    20| 40000|
|    4|Charlee|2005|    60| 35000|
|    5|    Guo|2010|    40| 38000|
+-----+-------+----+------+------+

In [15]:
# Substract function : Returns the rows that are present in one DataFrame but not in the other.
# The resulting DataFrame will contain distinct rows (like the behavior of a set).
df_sub = df.subtract(df1)
df_sub.show()

+-----+-------+----+------+------+
|empid|empname| doj|deptid|salary|
+-----+-------+----+------+------+
|    3|   Jack|2010|    10| 40000|
+-----+-------+----+------+------+

In [16]:
# Exceptall function : Returns all the rows from the first DataFrame that are not present in the second DataFrame,
# including duplicate rows. The exceptAll() function returns all rows from df1 that are not present in df2.
df_exceptall = df.exceptAll(df1)
df_exceptall.show()

+-----+-------+----+------+------+
|empid|empname| doj|deptid|salary|
+-----+-------+----+------+------+
|    2|   John|2010|    20| 40000|
|    3|   Jack|2010|    10| 40000|
+-----+-------+----+------+------+